{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Box</title>
  {% bootstrap_css %}
</head>
<body>
  <div class="container py-5">
    <h1 class="mb-3"><b>TMDB 검색창</b></h1>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="검색어를 입력하세요." id="search-input">
      <!-- <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="search-button">Search</button>
      </div> -->
    </div>

    <ul id="search-list" class="list-group">
      
    </ul>
  </div>

  {% bootstrap_javascript %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const searchInput = document.querySelector('#search-input')
    // const searchButton = document.querySelector('#search-button')
    const searchList = document.querySelector('#search-list')

    searchInput.addEventListener('input', event => {
      // console.log(`button clicked! ${searchInput.value}`)
      axios({
        method: 'get',
        url: 'http://127.0.0.1:8000/get_movie_data/',
        params: {
          title: searchInput.value
        }, 
        headers: {}
      })
      .then(res => {
        searchList.innerHTML = ''
        
        const movies = res.data
        // console.log(movies)
        for (const key in movies) {
          const movie = movies[key]

          const searchListItem = document.createElement('li')

          const searchListItemImg = document.createElement('img')
          searchListItemImg.src = movie.poster_path
          searchListItem.appendChild(searchListItemImg)
          searchListItemImg.setAttribute('class', 'pe-3')

          const searchListItemText = document.createElement('span')
          searchListItemText.innerText = movie.title
          searchListItem.appendChild(searchListItemText)

          searchListItem.setAttribute('class', 'list-group-item')
          searchList.appendChild(searchListItem)
        }
      })
      .catch(err => {
        console.log(err)
      })
    })
  </script>
</body>
</html>